<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema Voto</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <div class="contenedor-principal">
        <nav class="sidebar">
            <div class="brand">
                <h2>🗳️ SistemaVoto</h2>
            </div>
            <ul class="menu">
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-home"></i> Inicio
                    </a>
                </li>

                <li class="separator">ADMINISTRACIÓN</li>

                <li>
                    <a asp-controller="Usuarios" asp-action="Index">
                        <i class="fa-solid fa-users"></i> Usuarios
                    </a>
                </li>
                <li>
                    <a asp-controller="Roles" asp-action="Index">
                        <i class="fa-solid fa-key"></i> Roles
                    </a>
                </li>
                <li>
                    <a asp-controller="Recintos" asp-action="Index">
                        <i class="fa-solid fa-building"></i> Recintos
                    </a>
                </li>
                <li>
                    <a asp-controller="Candidatos" asp-action="Index">
                        <i class="fa-solid fa-user-tie"></i> Candidatos
                    </a>
                </li>
                <li>
                    <a asp-controller="Elecciones" asp-action="Index">
                        <i class="fa-solid fa-calendar"></i> Elecciones
                    </a>
                </li>

                <li class="separator">ZONA VOTACIÓN</li>
                <li>
                    <a asp-controller="Votacion" asp-action="Urna">
                        <i class="fa-solid fa-check-to-slot"></i> Ir a Votar
                    </a>
                </li>
            </ul>
        </nav>

        <main class="contenido">
            <header class="topbar">
                <h3>@ViewData["Title"]</h3>
                <div class="user-info">Admin 👤</div>
            </header>

            <div class="pagina-data">
                @RenderBody()
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>